.profile h1 {
    font-weight: 500;
    font-family: Literata;
    padding-top: 15px;
}
.footer {
    border-top: 1px dotted #4c566a;
}

.nav {
    border-bottom: 1px dotted #4c566a;
}

#menu a {
    font-family: Literata;
}

#menu .active {
    font-weight: 500;
    border-bottom: 0;
}

.profile img {
    filter: drop-shadow(2px 2px 2px rgba(76, 86, 106, 0.3));
}

.archive-entry {
    border-top: 0px dotted var(--secondary);
    padding: 30px;
    margin-bottom: 0px;
    border-radius: 0px;
    // background-color: rgb(242, 242, 242);
    filter: drop-shadow(2px 2px 2px rgba(76, 86, 106, 0.09));
}

.archive-year {
    margin: 0;
}

.post-title {
    font-size: 24px;
}

.summary {
    padding: 0 0 10px 0;
    font-family: Literata;
    font-size: 18px;
    line-height: 1.6;
}

.archive-entry h3 {
    font-weight: 600;
    font-size: 1.25em;
    padding-bottom: 4px;
}

body {
    font-family: Literata;
}

.post-content {
    border: 1px dotted var(--secondary);
    padding: 30px 30px 10px 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}

h1,
h2,
h3,
h4 {
    font-family: Roboto;
}

.footer {
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: 10px 0;
    //padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
    text-align: center;
    line-height: 24px;
}

.archive-month:not(:last-of-type) {
    border-bottom: 0;
}
