.profile h1 {
    font-weight: 500;
    font-family: Literata;
    padding-top: 15px;
}
.footer {
    border-top: 1px dotted #4c566a;
}

.nav {
    border-bottom: 1px dotted #4c566a;
}

#menu a {
    font-family: Literata;
}
.profile img {
    filter: drop-shadow(2px 2px 2px rgba(76, 86, 106, 0.3));
}

.archive-entry {
    border: 1px dotted var(--secondary);
    padding: 30px;
    margin-bottom: 60px;
    border-radius: 5px;
}

.archive-year {
    margin: 0;
}

.post-title {
    font-size: 24px;
}

.summary {
    padding: 0 0 10px 0;
    font-family: Literata;
    font-size: 18px;
    line-height: 1.6;
}

.archive-entry h3 {
    font-weight: 600;
    font-size: 1.25em;
    padding-bottom: 4px;
}

body {
    background: var(--code-bg);
    font-family: Literata;
}

.dark.list {
    background: var(--code-bg);
}

.post-content {
    border: 1px dotted var(--secondary);
    padding: 30px 30px 10px 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}

h1,
h2,
h3,
h4 {
    font-family: Roboto;
}

:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 70px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
}

.footer {
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: 10px 0;
    //padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
    text-align: center;
    line-height: 24px;
}
