.edward {
    font-size: 1.4em;
    font-weight: 500;
    font-family: Literata;
}

.profile {
    border: 1px dotted #4c566a;
}
.profile img {
    filter: drop-shadow(2px 2px 2px rgba(76, 86, 106, 0.3));
}
